.search-hero-input {
    border: none;
    height: 30px;
    background-color: #d1d1d1;
    border-radius: 3px;
    padding: 10px;
}

.search-hero-input:focus {
    outline: none;
    border: 1px solid #2984e3;
}