.pagination {
 
p
{
  color: #3E3B60;
  margin: 7px;
}
.page-item
{  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
color: #3E3B60;
background-color: #FEC8B5;
border-color: #FEC8B5;
}
.page-link {
  background-color: #FEC8B5;
  border-color: #FEC8B5;
}
}